/* Grundlegendes Styling */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #D91E18;
    color: white;
    padding: 2rem;
    text-align: center;
}

/* Sektionen */
section {
    padding: 2rem;
    background-color: #F0F0F0;
    margin: 1rem;
    border-radius: 8px;
}

/* Überschriften */
h1, h2, h3 {
    color: #D91E18;
}

/* Listen */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #D91E18;
    color: white;
}
